numpy==1.26.4

numpy==1.26.4
pandas
scipy
opencv-python
librosa
soundfile
audioread
mediapipe==0.10.9
torch
torchvision
torchaudio
scikit-learn
tqdm
fastapi
uvicorn
matplotlib
seaborn
python-multipart
